@tailwind base;
@tailwind components;
@tailwind utilities;




/* Removed the @include at-rule and its associated mixin */


:root {
  --main-green: #040f16;
  --second-green: #144335;
}

li {
  margin-bottom: 0.774593338497289vh;
}





.st0,
.st1 {
  fill: #66cc99;
}




.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-bottom: 1.549186676994578vh;

  &:nth-child(3) {
    padding-right: 8%;
  }

  h3.section-title {
    color: linkColor;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 1.549186676994578vh;
    font-weight: 400;
  }

  .skill-percentage {
    margin-bottom: 0.774593338497289vh;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 6px;
      background: #f5f5f5;
      display: block;
      margin-top: 0.23237800154918667vh;
    }

    &::before {
      content: "";
      height: 6px;
      background: lawngreen;
      position: absolute;
      margin-top: 0.23237800154918667vh;
      bottom: 0;
    }

    &:nth-child(1)::before {
      width: 35%;
      ;
    }

    &:nth-child(2)::before {
      width: 40%;

    }

    &:nth-child(3)::before {
      width: 50%;

    }

    &:nth-child(4)::before {
      width: 60%;

    }

    &:nth-child(5)::before {
      width: 90%;

    }

    &:nth-child(6)::before {
      width: 25%;

    }

    &:nth-child(7)::before {
      width: 60%;

    }

    &:nth-child(8)::before {
      width: 25%;

    }

    &:nth-child(9)::before {
      width: 85%;

    }

    &:nth-child(10)::before {
      width: 45%;

    }

    &:nth-child(11)::before {
      width: 70%;

    }
  }

}

.font-mono {
  Font-family: OCR A Std, monospace;
}

.text-large {
  font-size: 60px;
}


.top-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #040f16;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
  transition: all 0.75s;
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

.menuContainer {
  display: flex;
  align-items: center;
}

.menuButton {
  margin-right: 0.774593338497289vh;
  padding: 0.774593338497289vh 1.549186676994578vh;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 0.774593338497289vh;
  padding: 0.774593338497289vh 1.549186676994578vh;
  font-size: 14px;
  opacity: 1;
  position: relative;
}



.button:hover .textMenu {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);

}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.button:hover::after {
  background-color: rgb(84, 235, 84);
}


.titreContainer {
  margin-top: 1vh;
  display: inline-grid;
  text-align: center;
  width: fit-content;

}

.titre {
  
  font-size: 7vh;
  font-weight: 600;
  text-align: center;
  color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #040f16;
  color: #f5f5f5;
}

.app {
  align-items: center;
  aspect-ratio: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-b {
  display: flex;
  flex-direction: column;
  background: #000000;
  background: -webkit-linear-gradient(0deg, #000000 0%, #010508 50%, #040f16 100%);
  background: linear-gradient(0deg, #000000 0%, #010508 50%, #040f16 100%);
  justify-content: flex-start;
  min-height: 100vh;
  padding: 3vw 8vw;
}

.body {
  display: block;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.allpage {
  display: flex;
  flex-direction: column;
  background: #000000;
  background: -webkit-linear-gradient(0deg, #000000 0%, #010508 50%, #040f16 100%);
  background: linear-gradient(0deg, #000000 0%, #010508 50%, #040f16 100%);
  justify-content: flex-start;
}

.texteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
  color: #f5f5f5;
  font-size: 2vh;
  font-weight: 600;
  align-items: center;

}

.texteContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 2vh;
  font-weight: 600;

}

.texteContainer3 {
  display: block;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  color: #f5f5f5;
  font-size: 2vh;
  font-weight: 600;
  border-radius: 62px;
  background: linear-gradient(145deg, #0c4033, #0a362b);
  box-shadow: 5px 5px 11px #041813,
    -5px -5px 11px #12604d;

}

.texteContainer4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  color: #f5f5f5;
  font-size: 2vh;
  font-weight: 600;
  border-radius: 62px;
  background: linear-gradient(145deg, #0c4033, #0a362b);
  box-shadow: 5px 5px 11px #041813,
    -5px -5px 11px #12604d;
}

.text2 {
  display: block;
  font-size: 60px;
  margin-top: 1vh;
  color: #f5f5f5;
  font-size: 1.5vh;
  font-weight: 100;
  padding-left: 2vw;
  padding-bottom: 2vw;

}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #040f16;
  z-index: 1000;
  padding: 0.774593338497289vh 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.outer-frame {
  border: 1px solid var(--color-gray-dark-3);
  border-radius: 5px;
  padding: 1rem;
}

.favor-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.favor-list > li {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  color: var(--profile-theme);
  padding: 2rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.3s;
  text-align: center; 
}

.favor-list > li:hover {
  transform: scale(1.2);
  color: var(--color-tiffany);
}

.favor-list > li > span {
  letter-spacing: 1px;
}




/* Autres styles existants */
.detail {
  flex: 1 0 0;
  background-color: white;
  padding: 2rem;
}

.detail:hover > .detail-section:not(:hover) {
  opacity: 0.3;
}

.detail-section {
  transition: all 0.3s;
}

.detail-section:not(:last-of-type) {
  padding-bottom: 1rem;
}

.detail-title {
  display: flex;
  align-items: center;
}

.detail-section > .detail-content {
  padding: 1.5rem;
  padding-left: 2rem;
  user-select: none;
}

.detail-section.edu > .detail-content {
  padding-left: calc(1.5rem + 10px);
}

.border {
  border-radius: 3.8729666924864445vh;
  background: #040f16;
  box-shadow: 0.774593338497289vh 0.774593338497289vh 32.3237800154918666vh #262c30,
  -0.774593338497289vh -0.774593338497289vh 2.3237800154918666vh #262c30;
}

html {
  scroll-behavior: smooth;
}

.flex {
  flex-direction: column;
  align-items: center;
}

.left, .right {
  text-align: center;
  width: 100%;
}


@media (max-width: 1200px) {
  .favor-list {
    flex-direction: column;
  }

  .favor-list > li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}

@media (max-width: 768px) {
  .texteContainer {
    font-size: 30px;
  }
  .texteContainer3 {
    font-size: 30px;
  }
  .texteContainer4 {
    font-size: 30px;
  }
  .texteContainer {
    font-size: 20px;
  }
  .titre {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  .titre {
    font-size: 30px;
  }
  .titreContainer {
    margin-top: 6vh;
  }
  .btn .icon {
    height: 20px;
    width: 40px;
  }
  .btn {
    width: 45px;
    height: 30px;
    font-size: 10px;
  }
  .button {
    padding: 0.5rem;
    font-size: 12px;
  }
  .btn .text {
    font-size: 9px;
    transform: translateX(25px);
  }
  .btn:active .icon {
    transform: scale(0.2);
  }
  .btn:hover .icon {
    width: 50px;
  }
  .btn {
    width: 45px;
    height: 30px;
    font-size: 10px;
  }
  .buttonContainer {
    padding-left: 2rem;
  }
}



@media (max-width: 480px) {
  .texteContainer3 {
    font-size: 20px;
  }

  .texteContainer4 {
    font-size: 20px;
  }
  .titre {
    font-size: 20px;
  }
  .favor-list > li {
    padding: 1rem;
  }
  .favor-list > li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .btn .icon {
    height: 20px;
    width: 40px;
  }
  .btn {
    width: 45px;
    height: 30px;
    font-size: 10px;
  }
  .button {
    padding: 0.5rem;
    font-size: 10px;
  }
  .btn .text {
    font-size: 8px;
    transform: translateX(25px);
  }
  .btn:active .icon {
    transform: scale(0.2);
  }
  .btn:hover .icon {
    width: 50px;
  }
  .btn {
    width: 45px;
    height: 30px;
    font-size: 10px;
  }
  .buttonContainer {
    padding-left: 1rem;
    font-size: 10px;
  }
  .text2 {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .titreContainer {
    margin-top: 9vh;
  }
}


